body
{
  background: #cccccc;
}

.whiteRow
{
	background-color: #cccccc;
}

.topMenuMargin
{
	margin-top: 2%;
}

.topLeftMenu
{
  background-color: white;
  
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  
  padding-bottom: 4%;
}

.topRightMenu
{
	 background-color: #cccccc; 
	border-bottom-right-radius: 30px; 
	
	border-color: coral;
}

.grayColumn
{
	background-color:#cccccc; 
}

a {
	color: none;
}

a:hover
{ 
	text-decoration: none; 
}

.bntCustomize
{
  margin-top: 2%;
  background-color: white;
  border: none;
  color: black;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 140%;
  cursor: pointer;

  padding-right: 5%;
  padding-top: 1.75%;
  padding-bottom: 1.75%;
  padding-left: 5%;
  
  margin-right: 1.5%;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

button:hover {
  background-color: #cccccc; 
}

.colorUnderneath
{
	background-color: white; 
}
.containerMargin
{
  width: 95%;
  margin-top: 2%;
}

.webDesignDesc
{
  color: #afafaf;
  font-size: 80%;
}

.bodySite
{
  border-top-left-radius: 30px;
  background-color: white;
  margin-bottom: 1%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 500px;
}

.webContact
{
  color: white;
  font-size: 140%;
}

.webContactSocial
{
  word-spacing: 30px;
}

.webContactEmail
{
  padding-left: 68px;
}
